#overlay-1,
#overlay-2,
#overlay-3,
#overlay-4,
#modal-envio {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 3; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
  align-items: center;
  justify-content: center;
}

#votaciones {
  position: fixed; /* Sit on top of the page content */
  display: flex; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.65); /* Black background with opacity */
  z-index: 3; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
  align-items: center;
  justify-content: center;
}

#overlay-1 img,
#overlay-2 img,
#overlay-3 img,
#overlay-4 img {
  margin: auto;
  height: 100vw;
  rotate: 90deg;
}

#pop-up-votaciones {
  color: #e3e2d5;
  margin: auto;
  padding: 1rem;
  background-color: #73562c;
  border-radius: 1rem;
  margin: 0 1rem;
}

ion-icon {
  font-size: 1rem;
}

manifiesto-puntualidad {
  text-transform: lowercase;
}
