body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #73562c !important;
  background-image: url(/images/noise.png);
  background-image: url(/images/texture.png);
  text-align: center;
  color: white !important;
  font-family: "Playfair Display", serif !important;
}

h1 {
  margin: 0;
  font-style: italic;
  font-weight: 600 !important;
  font-size: 2.5rem !important;
  margin-top: 1.5rem;
  padding: 0rem 0.8rem;
}

h2 {
  font-size: 1.8rem !important;
  padding: 0 1rem;
  margin: 0;
}

p {
  padding: 0 1rem;
  font-size: 1.3rem;
}

h3 {
  font-size: 1.5rem;
}

ion-icon {
  font-size: 3rem;
}

#logo-cisneros {
  width: 10%;
  margin: 2rem 0rem;
}

.carousel {
  margin: 1rem 0;
}

ul {
  margin-bottom: 2rem !important;
  padding: 0 1rem !important;
  align-items: center;
  list-style: none;
}

ul li {
  margin: 0.2rem;
}

#images-opener {
  display: flex;
  margin-bottom: 0 !important;
}

#images-opener li img {
  width: 100%;
  border: 2px solid #453011;
  border-radius: 0.5rem;
}

.feature {
  margin-bottom: 3rem;
}

.feature:last-child {
  margin-bottom: 0rem !important;
}

.price {
  padding: 1rem 0;
  margin: auto;
  box-shadow: 0px 0px 26px 0px rgba(0, 0, 0, 0.31);
  width: 60%;
  margin-bottom: 1rem;
  border-radius: 1rem;
  backdrop-filter: blur(10px);
}

#economic {
  border: 4px solid #453011;
}

footer {
  margin-bottom: 2rem;
}

a {
  color: #ffffff !important;
  font-style: italic;
}

.separator {
  margin-bottom: 2rem !important;
  margin: auto;
  content: "";
  width: 70%;
  height: 1px;
  background-color: white;
}

svg {
  margin-bottom: 1rem;
}
